* {
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
    outline: none;
}

body, html {
    height: 100%;
}

body {
    color: #262626;
    display: flex;
    flex-direction: column;
    background: #fcfcfc;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header, .container {
    width: 100%;
}

.header {
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
}

.reglog {
    h1 {
        color: #3a73d6;
        text-align: center;
        span {
            color: #262626;
            font-weight: 100;
        }
    }
    h2 {
        text-align: center;
        font-weight: 300;
    }
    .main {
        max-width: 30rem;
        margin: auto;
    }
    button {
        margin: auto;
    }

    text-align: center;
}

a[href] {
    color: #3a73d6;
    text-decoration: none;
    &:hover {
        color: #6295e3;
    }
    &:active {
        color: #2754b0;
    }
}

.main {
    flex-grow: 1;
    max-width: 60rem;
    padding: 16px 16px 64px 16px;
}

.nav-btn {
    padding: 16px 24px;
    font-size: 1.15rem;
    font-weight: bold;

    color: #3a73d6;
    &:hover {
        color: #6295e3;
    }
    &:active {
        color: #2754b0;
    }
    &:last-child {
        .nav-btn-text {
            opacity: 0;
            transition: all 0.15s;
        }
        flex-direction: row-reverse;
        margin-left: auto;
        color: #f5222d;
        &:hover {
            color: #ff4d4f;
            .nav-btn-text {
                opacity: 1;
            }
        }
        &:active {
            color: #cf1322;
        }
    }
}

.nav-btn {
    display: flex;
    gap: 8px;
    flex-direction: row;
}

.nav-btn-text {
    text-transform: capitalize;
}

.btn {
    user-select: none;
    cursor: pointer;
}


.delete-button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #f5222d;
    &:hover {
        color: #ff4d4f;
    }
    &:active {
        color: #cf1322;
    }
}

.tickets-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    tr {
        &:hover {
            background: #f5f5f5;
        }

        &:first-child {
            th, td {
                border-top: 1px solid #bfbfbf;
            }
        }
        &:last-child {
            :first-child {
                border-bottom-left-radius: 2px;
            }
            :last-child {
                border-bottom-right-radius: 2px;
            }
        }
    }

    th {
        padding: 8px 16px;
        text-align: left;
        font-weight: 600;
        background: #d9d9d9;
        border-bottom: 1px solid #bfbfbf;
        &:first-child {
            border-top-left-radius: 2px;
            border-left: 1px solid #bfbfbf;
        }
        &:last-child {
            border-top-right-radius: 2px;
            border-right: 1px solid #bfbfbf;
        }
    }

    td {
        padding: 4px 16px;
        border-bottom: 1px solid #bfbfbf;
        &:first-child {
            border-left: 1px solid #bfbfbf;
        }
        &:last-child {
            border-right: 1px solid #bfbfbf;
        }
    }
}

.attachments-table {
    &:empty {
        display: none;
    }
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    tr {
        &:hover {
            background: #f5f5f5;
        }

        &:first-child {
            td {
                border-top: 1px solid #8c8c8c;
                &:first-child {
                    border-top-left-radius: 4px;
                }

                &:last-child {
                    border-top-right-radius: 4px;
                }
            }
        }

        &:last-child {
            td {
                &:first-child {
                    border-bottom-left-radius: 4px;
                }

                &:last-child {
                    border-bottom-right-radius: 4px;
                }
            }
        }
    }

    td {
        padding: 4px 16px;
        border-bottom: 1px solid #8c8c8c;
        &:first-child {
            border-left: 1px solid #8c8c8c;
        }
        &:last-child {
            border-right: 1px solid #8c8c8c;
        }
    }
}

.stack-vertical {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.stack-horizontal {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.button-icon {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #3a73d6;
    &:hover {
        color: #6295e3;
    }
    &:active {
        color: #2754b0;
    }
}

.buttons-cell {
    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        button {
            display: block;
        }
    }
}

.default-button {
    background-color: #3a73d6;
    &:hover {
        background-color: #2754b0;
    }
    &:active {
        background-color: #173a8a;
    }
    color: #f0f0f0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    padding: 6px 12px;
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    gap: 4px;
}

.input-container {
    margin-top: 0.4rem;
    position: relative;
    background: #fcfcfc;
    label {
        font-weight: bold;
        color: #434343;
        text-transform: capitalize;
        position: absolute;
        top: -0.4rem;
        font-size: 0.8rem;
        left: 8px;
        padding: 0 4px;
        background: inherit;
        cursor: text;
        transition: all 0.15s;
        pointer-events: none;
        height: 1rem;
        line-height: 1rem;
    }
    input[type="text"], input[type="password"], textarea, select{
        width: 100%;
        border: 1px solid #8c8c8c;
        cursor: text;
        height: 2.75rem;
        padding: 0 16px;
        outline: none;
        font-size: 1rem;
        border-radius: 4px;
        transition: border-color 0.15s;
        &:active, &:focus {
            border: 2px solid #3a73d6;
            padding: 0 15px;
            & + label {
                color: #3a73d6;
            }
        }
    }
    textarea[type="text"]{
        overflow-y: hidden;
        padding: 12px 16px;
        min-height: 6rem;
        resize: none;
        &:active, &:focus {
            padding: 11px 15px;
        }
    }
    select {
        background: #fcfcfc;
    }
}

textarea.animate {
    transition: all 0.15s;
}

.error-msg {
    color: #f5222d;
}

.viewreg-container {
    padding: 16px;
}

input, textarea, select {
    background-color: inherit;
}

.toast-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px;
    z-index: 2000;
    pointer-events: none;

    .toast {
        pointer-events: all;
        display: flex;
        flex-direction: row;
        align-items: center;
        opacity: .95;
        padding: 12px 16px;
        border-radius: 4px;
        max-width: 100%;
        width: calc(60rem - 32px);
        margin: auto;
        font-weight: 600;
        cursor: default;
        user-select: none;
        .toast-close {
            margin-left: auto;
            cursor: pointer;
            color: #fcfcfc;
            &:hover {
                color: #ffffff;
            }
            &:active {
                color: #f0f0f0;
            }
        }
        &.error {
            background: #f5222d;
            color: #fcfcfc;
        }
        &.success {
            background: #52c41a;
            color: #fcfcfc;
        }
    }

}

.form-button {
    margin: 16px 0;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: right;
    .default-button {
        display: inline-flex;
        padding: 12px 24px;
    }
}

h1 {
    margin: 16px 0;
}

.comments {
    .comment {
        > div {
            align-items: flex-end;
        }
        .comment-time {
            color: #434343;
            font-size: 0.8rem;
        }
        .comment-author {
            font-weight: 600;
            color: #262626;
        }
        .comment-content {
            font-size: 0.9rem;
            padding: 6px 12px;
            border-radius: 4px;
        }
    }
}

.chatbox {

    .abort-button {
        color: #f0f0f0;
        border: none;
        cursor: pointer;
        background: #f5222d;
        &:hover {
            background: #cf1322;
        }
        &:active {
            background: #a8071a;
        }
    }

    .chatbox-content {
        display: flex;
        flex-direction: column;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        margin-right: 16px;
        max-height: 32rem;
        width: 24rem;
        background: #fcfcfc;
        border: none;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.4rem 0.2rem;
    }

    .chat-section {
        flex: 1;
        overflow: hidden;
    }

    #chat-container {
        min-height: 10rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .message-container {
        height: 100%;
        padding: 8px 8px 12px;
        overflow-y: auto;

        .message-row {
            display: flex;
            flex-direction: row;
            padding: 2px;

            &.received {
                justify-content: flex-start;
                .message {
                    background: #d9d9d9;
                }
            }

            &.sent {
                justify-content: flex-end;
                .message {
                    color: #f0f0f0;
                    background: #3a73d6;
                }
            }

            .message {
                max-width: 85%;
                display: inline-block;
                border-radius: 8px;
                padding: 8px 12px;
                white-space: pre-wrap;
            }

        }


    }

    #chat-inputs-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        padding-top: 12px;
        margin-top: -12px;

        .send-message {
            position: relative;
            display: flex;
            flex-direction: row;
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.1) 0 0 0.4rem 0.2rem;

            textarea{
                flex: 1;
                border: none;
                padding: 12px 12px;
                resize: none;
                overflow-y: auto;
            }

            .send-btn-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 6px;

                button {
                    padding: 0
                }
            }

        }
    }

    .chat-header{
        padding: 8px 4px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        font-weight: 600;
        background: #f0f0f0;

        .chat-title {
            padding-left: 12px;
            flex: 1;
            text-align: left;
        }
    }

    position: fixed;
    bottom: 0;
    right: 0;
    > .chatbox-toggle {
        margin-right: 8px;
        margin-bottom: 8px;
        padding: 0;
        border-radius: 100%;
        > span{
            padding: 8px;
            font-size: 32px;
        }
    }
    &.closed {
        > .chatbox-toggle {
            display: block;
        }
        .chatbox-content {
            display: none;
        }
    }
    > .chatbox-toggle {
        display: none;
    }

    .message-area {
        flex: 1;
        width: 100%;
        overflow: hidden;
    }
}

.add-comment {
    display: flex;
    flex-direction: row;
    .input-container input {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    button {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.lift {
    margin-top: -4px;
    margin-bottom: 4px;
}

.input-cover {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #f0f0f0;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
}