* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.header, .container {
    width: 100%;
}

.header {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-grow: 1;
}

.main {
    flex-grow: 1;
    padding: 8px;
}

.chatbox {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 8px;
    background-color: #f0f0f0;
}

.nav-btn {
    --ico-size: 30px;
    padding: 4px;

}

.nav-btn-ico {
    width: var(--ico-size);
    height: var(--ico-size);
    display: inline-block;
    background-size: cover;
}

.nav-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: var(--ico-size);
}

.nav-btn-text {
    text-transform: capitalize;
}

.chatbox.closed .chatbox-content{
    display: none;
}

.chatbox > .chatbox-toggle{
    display: none;
}

.chatbox.closed > .chatbox-toggle{
    display: block;
}

.btn {
    user-select: none;
    cursor: pointer;
}

.chat-header {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.message-row {
    display: flex;
}

.message-row.received {
    flex-direction: row;
}

.message-row.sent {
    flex-direction: row-reverse;
}

.message {
    display: inline-block;
    border-radius: 8px;
    padding: 4px;
    background-color: white;
}

.message:after {
    display: inline-block;
    width: 20px;
}

.chatbox {
    max-height: 80%;
}

.message-container {
    overflow: auto
}